.header {
    text-align: center;
    color: rgb(255, 229, 237);
    font-size: 80px;
    display: block; /* Для старых браузеров */
    height: 100px; /* Высота шапки */
    background-color: rgb(236, 124, 159);

}

.links {
    color: rgb(179, 32, 32);
    display: block;
    font-size: 30px;
    height: 50px;
    background-color: rgb(236, 124, 159);

}

.about-us {
    padding-inline: 130px;
}

.bibli {
    padding-inline: 130px;
}

.fest {
    padding-inline: 130px;
}

.mimigame {
    padding-inline: 130px;
}

.top {
    width: 400px;
    background-color: rgb(243, 045, 107);
    display: block;
    color: rgb(255, 247, 249);
    font-family: "Times New Roman", Georgia, Serif;
    font-style: Serif;
    margin-top: 10px;
    margin-right: 20px;
    padding: auto;
    float: right;
}

.news {
    font-size: 25px;
    color: rgb(161, 12, 60);
    display: block;
    width: 1000px;
    height: 1200px;
    background-color: white;
    margin: 20px;
    padding: 10px;
    float:left;
}

body {
    color: black;
    background-color: rgb(255, 231, 239);
}

